Types of Objects in Python:


1.   Immutable Objects
2.   Mutable Objects

Immutable Objects:


1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

List

In [ ]:
# list should be included in the squared brackets

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# list can have multiple data types
my_list = [2, 3, 3.4, 'English', True]
print(my_list)
type(my_list)

[2, 3, 3.4, 'English', True]

list

List are Mutable or their elements can be changed

In [ ]:
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [ ]:
#list allows duplicate values
list_1 = [1, 2, 3, 4, 5, 12, 2, 3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [ ]:
print(len(list_1))

8

In [ ]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(5)
print(list_2)

[5]

In [ ]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [ ]:
# join two list
list_3 = [1,2,3]
list_4 = [4,5,6]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6]

Tuple: Tuple are list but they are immutable objects enclosed in ()

In [ ]:
tuple_1 = (1, 2, 3, 4)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4)

tuple

In [ ]:
# tuple allow multiple data types
tuple_2 = (1, 2, 3.5, 'English', False)
print(tuple_2)

(1, 2, 3.5, 'English', False)

In [ ]:
# converting a list to a tuple
my_list = [3, 4, 5, 6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
# print elements of Tuple using their index
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable or their values cannot be changed

In [ ]:
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(len(my_tuple))

4

Set

In [1]:
# set are also mutable data types enclosed in curly brackets

In [2]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [3]:
# set objects does not support indexing
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [4]:
# convert a list to a set
list_5 = [4, 5, 6, 7, 8]
print(list_5)

x = set(list_5)
print(x)

[4, 5, 6, 7, 8]
{4, 5, 6, 7, 8}

In [5]:
# set objects does not allow duplicate or repeated values
set_3 = {1, 2, 3, 4, 5, 2, 3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary: It contains key-value pairs.

In [6]:
my_dictionary = {"name": "Muneeb", "age": 25, "country": "Pakistan"}
print(my_dictionary)
type(my_dictionary)

{'name': 'Muneeb', 'age': 25, 'country': 'Pakistan'}

dict

In [7]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Muneeb
25
Pakistan

In [8]:
# dictionary doesnot allow duplicate value
dictionary_2 = {"name": "Muneeb", "age": 25, "country": "Pakistan", "age": 26, "name": "Muneeb", "age": 25, "country": "Pakistan", "age": 26}
print(dictionary_2)

{'name': 'Muneeb', 'age': 26, 'country': 'Pakistan'}