Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Arithmetic Operator

In [1]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ', sum)

# difference or subtraction
diff = num_1 - num_2
print('difference = ', diff)

# multiplication or product
pro = num_1 * num_2
print('Product = ', pro)

# division or quotient
quo = num_1/num_2
print('Quotient = ', quo)

# exponent
exp = num_1 ** num_2 # 20^10
print('Exponent = ', exp)

# modulus or Remainder
mod = num_1 % num_2
print('Remainder = ', mod)

sum =  30
difference =  10
Product =  200
Quotient =  2.0
Exponent =  10240000000000
Remainder =  0

Assignment Operators

1. =
2. +=
3. -=
4. *=
5. **=
6. /=
7. %=

In [2]:
a = 5
print(a)

5

In [3]:
a = 5
a += 5 # a = a + 5
print(a)

10

In [4]:
b = 5
b -= 5 # b = b - 5
print(b)

0

Comparison Operators: It returns a boolean value.

In [5]:
a = 5
b = 10

print(a == b) # equal to
print(a != b) # not equal to
print(a > b) # greater than
print(a < b) # less than
print(a >= b) # greater than or equal to
print(a <= b) # less than or equal to

False
True
False
True
False
True

Logical Operator: It also returns boolean value.

and

or

not

In [6]:
a = 10
print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 8 and a > 5))

False
True
False

Identity Operator: It also returns boolean values.

1. is

2. is not

In [7]:
x = 5
y = 5

print(x is y)

True

In [8]:
x = 5
x = 10
print( x is y)

False

In [9]:
x = 5
y = 5
print(x is not y)

False

In [10]:
x = 5
y = 10
print(x is not y)

True

Membership Operator: It checks if a particular value belongs to a sequence of elements like list. It also returns a boolean value.

1. in

2. not in

In [11]:
a = 5
b = 10

c = [1, 2, 3, 4, 5]

print(a in c)
print(b in c)

True
False

In [12]:
a = 5
b = 10

c = [1, 2, 3, 4, 5]

print(a not in c)
print(b not in c)

False
True