In [1]:
laptop1 = int(input('Enter the price of laptop1: '))
laptop2 = int(input('Enter the price of laptop2: '))
laptop3 = int(input('Enter the price of laptop3: '))
laptop4 = int(input('Enter the price of laptop4: '))
laptop5 = int(input('Enter the price of laptop5: '))

Enter the price of laptop1: 20000
Enter the price of laptop2: 30000
Enter the price of laptop3: 40000
Enter the price of laptop4: 50000
Enter the price of laptop5: 60000

In [5]:
for i in range(5):  # 0,1,2,3,4
  laptop_price = int(input('Enter the price of laptop: '))

ValueError: invalid literal for int() with base 10: ''

In [3]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [4]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

While loop: It is use when we are not sure how many times to execute an action.

while(condition):

statement

increment or decrement

In [5]:
i = 0
while i < 10:
  print(i)
  i+= 1

0
1
2
3
4
5
6
7
8
9

In [8]:
i = 5
while(i<3): # false condition
  print(i)
  i += 1 # i = i + 1